*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'hacked';
  src: url(assets/hacked-font/Hacked-KerX.ttf);
}

@font-face {
  font-family: 'bitwise';
  src: url(assets/bitwise-font/Bitwise-m19x.ttf);
}

.main{
  background-image: url(assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  /* min-width: 100vw; */
}

textarea{
  width: 50rem;
  height: 40rem;
}

.hoverable:hover{
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  textarea {
    width: 85vw;
    height: 25rem;
  }
}
@media screen and (max-width: 800px) and (min-width: 480px) {
  textarea {
      
    width: 85vw;
    height: 25rem;
  }
}
@media screen and (max-width: 370px)  {
  .card{
    height: auto !important;
  }
  .tags{
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  .tag{
    margin: 0.4rem 0;
  }

  .dir-l, .dir-r{
    left: 1% !important;
  }
}